django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
psycopg2-binary
dj-database-url
python-dotenv
Pillow
cloudinary
django-cloudinary-storage
django-redis
redis
django-ratelimit
gunicorn
whitenoise